@import "https://fonts.googleapis.com/css?family=Lato:100";

h1{
    font-family: "lato";
}
#header{

    background-color: rgb(36, 36, 71);
    color: white;
    height:100px;
    font-family:"lato";
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;

}
body{
    background: linear-gradient(-45deg,#53fc6a,white,#faa25b);
    bottom:0;
    text-emphasis:bold ;
    margin-left:70px;
    margin-right: 70px;
}
.fa:hover{
    transform:translatey(5px);
    opacity: 1;
   
}
span{
    font-family: "Arial";
    text-decoration: underline;
    color: red;
}
#headline{
    position: absolute;
    margin-top: 100px;
	padding: 0px 10px 0px 10px ; 
	border:5px double rgb(74, 56, 150);
	text-align: center;
	letter-spacing: 1px;
    font-size: 100px;
    font-family: "Arial";
}
p{
    font-family: "Lucida Console";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    word-spacing: 2px;
}
.imgs{
        margin-left: 30%;
        width:200px;
        height: relative;
}

li + p{
    padding-right:200px;
    padding-left:200px;
}
.content{
    float: left;
    width: 25%;
    height: 250px;
    margin:1.8%;  
   
}

img{
    border:5px double rgb(71, 71, 148);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
 li{
    font-family: "Lucida Console";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    word-spacing: 2px;
    text-decoration: underline;
}
.footer{
    background-color: rgb(36, 36, 71);
    height:150px;
    color: white;
}
